body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #e0f7fa, #c8e6c9);
  color: #2c3e50;
}

header {
  background: #1a531b;
  color: white;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #1a531b;
}

.candidate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.candidate-card {
  background: white;
  border: none;
  margin: 15px;
  padding: 25px;
  border-radius: 12px;
  width: 220px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.candidate-card:hover {
  transform: translateY(-5px);
}

.candidate-card button {
  background: #e74c3c;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.candidate-card button:hover {
  background: #c0392b;
}

.quote {
  margin: 30px;
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
  color: #34495e;
}


.results-container {
  max-width: 600px;
  margin: 20px auto;
}

.result-bar-container {
  margin: 15px 0;
}

.result-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 600;
  color: #1a531b;
}

.result-bar-bg {
  width: 100%;
  background: #d4f7dc;
  border-radius: 12px;
  height: 25px;
  overflow: hidden;
}

.result-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #27ae60, #81c784);
  width: 0%;
  border-radius: 12px;
  transition: width 1s ease-in-out;
}


.voted-btn {
    background-color: #b2dfdb;
    color: #555;
    cursor: not-allowed;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.voted-btn:hover {
    background-color: #b2dfdb; /* no hover change */
}
